.divider-custom {display: flex; justify-content: center; align-items: center;}
.divider-line {height: 0.25rem; width: 100%; max-width: 6rem;}
.divider-icon {font-size: 2rem; margin-left: 0.5rem; margin-right: 0.5rem;}